<div class="section">

  <div class="left">
    <div class="title">
      <h1>About</h1>
    </div>
    <div class="image"><img width="150" height="225" src="./jeffconf-italy.png" /></div>
  </div>

  <div class="text">
    <p>
      ServerlessDays Italia è una conferenza dedicata<span class="line-break no-mobile"></span> agli sviluppatori sulle
      tecnologie serverless.
    </p>
    <p>
      La conferenza sarà ricca di sessioni pratiche, con casi d'uso reali<span class="line-break no-mobile"></span>
      condivisi e raccontanti dai nostri speaker.
    </p>

    <p style="font-weight: bold;">
      L'edizione 2020 sarà interamente in 🇮🇹 italiano!
    </p>

    <p>ServerlessDays Italia è parte della comunità internazionale ServerlessDays,<span
        class="line-break no-mobile"></span> che organizza eventi periodici in tutto il mondo,<span
        class="line-break no-mobile"></span> per la community di sviluppatori serverless.
    </p>
  </div>
</div>