<div class="section">

  <div class="left" style="flex-direction: column;">
    <div class="title">
      <h1>Cos'è</h1>
    </div>
    <div class="image"><img width="150" height="225" src="./jeffconf-italy.png" /></div>
  </div>

  <div class="text">
    <p>
      ServerlessDays Italy è una conferenza sulle
      tecnologie serverless <span class="line-break no-mobile"></span> dedicata agli sviluppatori.
    </p>
    <p>
      La conferenza sarà ricca di sessioni pratiche, con casi d'uso reali<span class="line-break no-mobile"></span>
      condivisi e raccontati dai nostri speaker.
    </p>

    <p style="font-weight: bold;">
      L'edizione 2020 sarà gratuita e in 🇮🇹 italiano!
    </p>

    <p>ServerlessDays Italy è parte della comunità internazionale <a
        href="https://serverlessdays.io">ServerlessDays</a>,<span class="line-break no-mobile"></span> che organizza
      eventi periodici in tutto il mondo per la community di sviluppatori serverless.
    </p>

    @@include('./_calendarButton.html')
  </div>
</div>