<div class="section agenda">

  <div class="header-button">
    <h1>Agenda</h1>
    <!--<button class="button">Add to your calendar</button>-->
  </div>
  <div style="display: flex; flex-direction: row; width: 100%">
    <h2 style="display: flex; margin: 1em 0; flex-grow: 1;">giovedì 4 giugno 2020</h2>
    <div
      style="display: flex; flex: 0 0 50%; align-items: center; text-align: center; align-self: center; justify-content: center;">
      @@include('./_calendarButton.html')</div>
  </div>

  <h3>Mattina</h3>
  <table><tbody>
    <tr class="coffee">
      <td>9:45</td>
      <td>Benvenuto e introduzione</td>
    </tr>
    
    <tr class="keynote">
      <td class="time">9:50</td>
      <td><strong>Simon Wardley - Researcher for Leading Edge Forum</strong></td>
      <td>Why the fuss about serverless! [ENG]</td>
      <td><a href="/talk-simon-wardley.html">Dettagli &raquo;</a></td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/qZ4881669">📅 Aggiungi al calendario</a></td>
    </tr>
  
    <tr class="talk">
      <td class="time">10:35</td>
      <td><strong>Paolo Ferretti - Developer Advocate @ MailUp</strong></td>
      <td>Microservizi serverless estensibili, segmentabili e scalabili</td>
      <td><a href="/talk-paolo-ferretti.html">Dettagli &raquo;</a></td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/jy4881678">📅 Aggiungi al calendario</a></td>
    </tr>
  
    <tr class="talk">
      <td class="time">11:20</td>
      <td><strong>Max Gallo - Principal Engineer @ DAZN</strong></td>
      <td>Micro-frontends on the edge: una storia di persone, migrazioni e serverless</td>
      <td><a href="/talk-max-gallo.html">Dettagli &raquo;</a></td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/iZ4881680">📅 Aggiungi al calendario</a></td>
    </tr>
  
    <tr class="talk lightning">
      <td class="time">12:05 &ndash; 12:30</td>
      <td><strong>Paola Annis - Cloud Solutions Architect @ Microsoft</strong></td>
      <td>The green impact of serverless</td>
      <td><a href="/talk-paola-annis.html">Dettagli &raquo;</a></td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/CF4881684">📅 Aggiungi al calendario</a></td>
    </tr>
  </tbody></table>

  <h3>Pomeriggio</h3>
  <table><tbody>
    <tr class="talk">
      <td class="time">13:05</td>
      <td><strong>Tommaso Doninelli - Founder & CEO @ Hakuna.Cloud</strong></td>
      <td>Come abbiamo migrato da “on-premise” a serverless senza cambiare una riga di codice</td>
      <td><a href="/talk-tommaso-doninelli.html">Dettagli &raquo;</a></td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/Un4881686">📅 Aggiungi al calendario</a></td>
    </tr>
  
    <tr class="talk lightning">
      <td class="time">13:50</td>
      <td><strong>Mariano Calandra - Cloud Engineer @ Claranet Italia</strong></td>
      <td>Possiamo ancora fidarci dei nostri unit test?</td>
      <td><a href="/talk-mariano-calandra.html">Dettagli &raquo;</a></td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/Jy4881688">📅 Aggiungi al calendario</a></td>
    </tr>

  
    <tr class="talk">
      <td class="time">14:20</td>
      <td><strong>Matteo Moroni - DevOps Engineer @ beSharp</strong></td>
      <td>Infrastruttura serverless auto-evolutiva con Python</td>
      <td><a href="/talk-matteo-moroni.html">Dettagli &raquo;</a></td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/qH4881705">📅 Aggiungi al calendario</a></td>
    </tr>

  
    <tr class="talk lightning">
      <td class="time">15:05</td>
      <td><strong>Ferdinando Gorga - Public Cloud Specialist @ IBM</strong></td>
      <td>Sui compensi del programmatore: una dissertazione sul valore del software ed il suo TCO (Total Cost tdf
        <td><a href="/talk-ferdinando-gorga.html">Dettagli &raquo;</a></td>
        <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/lh4881706">📅 Aggiungi al calendario</a></td>
        Ownership) di
    </tr>

    <tr class="talk">
      <td class="time">15:35</td>
      <td><strong>Luca Maraschi - Chief Architect @ TELUS Digital</strong></td>
      <td>Serverless Side Rendering alla conquista del Web di scala planetaria</td>
      <td><a href="/talk-luca-maraschi.html">Dettagli &raquo;</a></td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/XI4881710">📅 Aggiungi al calendario</a></td>
    </tr>
  
    <tr class="keynote">
      <td class="time">16:20</td>
      <td><strong>Danilo Poccia - Chief Evangelist @ AWS</strong></td>
      <td>La gestione dei dati in un ambiente serverless</td>
      <td><a href="/talk-danilo-poccia.html">Dettagli &raquo;</a></td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/yB4881713">📅 Aggiungi al calendario</a></td>
    </tr>

    <tr class="coffee">
      <td class="time">17:00</td>
      <td>Team</td>
      <td>Chiusura e saluti</td>
    </tr>
  </tbody></table>
</div>