<div class="section agenda">

  <div class="header-button">
    <h1>Agenda</h1>
    <!--<button class="button">Add to your calendar</button>-->
  </div>
  <div style="display: flex; flex-direction: row; width: 100%">
    <h2 style="display: flex; margin: 1em 0; flex-grow: 1;">giovedì 4 giugno 2020</h2>
    <div
      style="display: flex; flex: 0 0 50%; align-items: center; text-align: center; align-self: center; justify-content: center;">
      @@include('./_calendarButton.html')</div>
  </div>

  <h3>Mattina</h3>

  <p><a title="Calendario" class="addeventatc" data-id="Kc265825" href="https://www.addevent.com/calendar/Kc265825"
    target="_blank" rel="nofollow" style="padding-left: 40px;">Aggiungi tutti al calendario</a></p>

  <table><tbody>
    <tr class="coffee">
      <td class="time">9:45</td>
      <td>Benvenuto e introduzione</td>
    </tr>
    
    <tr class="keynote">
      <td class="time">9:50</td>
      <td class="title"><a href="/talk-simon-wardley.html">Simon Wardley</a><br /><span>Researcher for Leading Edge Forum</span></td>
      <td class="description">Why the fuss about serverless! [ENG]</td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/qZ4881669">Aggiungi al calendario 📅</a></td>
    </tr>
  
    <tr class="talk">
      <td class="time">10:35</td>
      <td class="title"><a href="/talk-paolo-ferretti.html">Paolo Ferretti</a><br /><span>Developer Advocate @ MailUp</span></td>
      <td class="description">Microservizi serverless estensibili, segmentabili e scalabili</td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/jy4881678">Aggiungi al calendario 📅</a></td>
    </tr>
  
    <tr class="talk">
      <td class="time">11:20</td>
      <td class="title"><a href="/talk-max-gallo.html">Max Gallo</a><br /><span>Principal Engineer @ DAZN</span></td>
      <td class="description">Micro-frontends on the edge: una storia di persone, migrazioni e serverless</td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/iZ4881680">Aggiungi al calendario 📅</a></td>
    </tr>
  
    <tr class="talk lightning">
      <td class="time">12:05</td>
      <td class="title"><a href="/talk-paola-annis.html">Paola Annis</a><br /><span>Cloud Solutions Architect @ Microsoft</span></td>
      <td class="description">The green impact of serverless</td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/CF4881684">Aggiungi al calendario 📅</a></td>
    </tr>
    
    <tr class="coffee">
      <td class="time">12:30</td>
      <td>Pausa pranzo</td>
    </tr>
  </tbody></table>

  <h3>Pomeriggio</h3>
  <p><a title="Calendario" class="addeventatc" data-id="Kc265825" href="https://www.addevent.com/calendar/Kc265825"
      target="_blank" rel="nofollow" style="padding-left: 40px;">Aggiungi tutti al calendario</a></p>

  <table><tbody>
    <tr class="talk">
      <td class="time">13:05</td>
      <td class="title"><a href="/talk-tommaso-doninelli.html">Tommaso Doninelli</a><br /><span>Founder & CEO @ Hakuna.Cloud</span></td>
      <td class="description">Come abbiamo migrato da “on-premise” a serverless senza cambiare una riga di codice</td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/Un4881686">Aggiungi al calendario 📅</a></td>
    </tr>
  
    <tr class="talk lightning">
      <td class="time">13:50</td>
      <td class="title"><a href="/talk-mariano-calandra.html">Mariano Calandra</a><br /><span>Cloud Engineer @ Claranet Italia</span></td>
      <td class="description">Possiamo ancora fidarci dei nostri unit test?</td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/Jy4881688">Aggiungi al calendario 📅</a></td>
    </tr>
  
    <tr class="talk">
      <td class="time">14:20</td>
      <td class="title"><a href="/talk-matteo-moroni.html">Matteo Moroni</a><br /><span>DevOps Engineer @ beSharp</span></td>
      <td class="description">Infrastruttura serverless auto-evolutiva con Python</td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/qH4881705">Aggiungi al calendario 📅</a></td>
    </tr>
  
    <tr class="talk lightning">
      <td class="time">15:05</td>
      <td class="title"><a href="/talk-ferdinando-gorga.html">Ferdinando Gorga</a><br /><span>Public Cloud Specialist @ IBM</span></td>
      <td class="description">Sui compensi del programmatore: una dissertazione sul valore del software ed il suo TCO (Total Cost of Ownership)</td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/lh4881706">Aggiungi al calendario 📅</a></td>
    </tr>

    <tr class="talk">
      <td class="time">15:35</td>
      <td class="title"><a href="/talk-luca-maraschi.html">Luca Maraschi</a><br /><span>Chief Architect @ TELUS Digital</span></td>
      <td class="description">Serverless Side Rendering alla conquista del Web di scala planetaria</td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/XI4881710">Aggiungi al calendario 📅</a></td>
    </tr>
  
    <tr class="keynote">
      <td class="time">16:20</td>
      <td class="title"><a href="/talk-danilo-poccia.html">Danilo Poccia</a><br /><span>Chief Evangelist @ AWS</span></td>
      <td class="description">La gestione dei dati in un ambiente serverless</td>
      <td><a class="talk-add-to-calendar" href="https://www.addevent.com/event/yB4881713">Aggiungi al calendario 📅</a></td>
    </tr>

    <tr class="coffee">
      <td class="time">17:00</td>
      <td>Chiusura e saluti</td>
    </tr>
  </tbody></table>

  <p><a title="Calendario" class="addeventatc" data-id="Kc265825" href="https://www.addevent.com/calendar/Kc265825"
      target="_blank" rel="nofollow" style="padding-left: 40px;">Aggiungi tutti al calendario</a></p>
</div>