<div class="section agenda">

  <div class="header-button">
    <h1>Agenda</h1>
    <!--<button class="button">Add to your calendar</button>-->
  </div>

  <h2>giovedì 5 giugno 2020</h2>

  <!-- <div style="display: flex; flex-direction: row; align-items: center;">
    <div style="display: block; flex: 1 0 70%;">
      <h3>
        <span>L'agenda definitiva arriverà tra qualche giorno!
          <a target="_blank"
            href="https://docs.google.com/forms/d/e/1FAIpQLSf4rjn2a6ZzVavebHMUaq-A8s5a_XN6afAApdsfarDUpIhdjQ/viewform?"><strong>Registrati
              per ricevere via email gli aggiornamenti</a>,
          oppure seguici su twitter <a href="https://twitter.com/ServerlessItaly" target="_blank">@ServerlessItaly</a>.
        </span>
      </h3>
    </div>
  </div> -->

  <!--
  <div style="display: flex; flex-direction: row; align-items: center;">
    <div style="display: block; flex: 1 0 70%;">
      <h3>
        <span>The conference agenda will be available a few days after our Call-for-paper ends, beginning of May.
          Meanwhile, you can leave your email for a one-time message when the agenda will be published:
          <a target="_blank"
            href="https://docs.google.com/forms/d/e/1FAIpQLSf4rjn2a6ZzVavebHMUaq-A8s5a_XN6afAApdsfarDUpIhdjQ/viewform?"><strong>get
              the final agenda via email</strong></a> and follow us <a href="https://twitter.com/serverlessMIL"
            target="_blank">@serverlessMIL</a>.
        </span>
      </h3>

      <h3>
        <a style="color: #19b1a3" target="_blank"
          href="https://docs.google.com/forms/d/e/1FAIpQLSf4rjn2a6ZzVavebHMUaq-A8s5a_XN6afAApdsfarDUpIhdjQ/viewform?"><strong
            style="color: #19b1a3">Get the final agenda via email &raquo;</strong></a>
      </h3>

      <h3>
        <br />
        Seats are limited, make sure to&nbsp;<a style="color: #19b1a3" target="_blank"
          href="https://www.eventbrite.it/e/serverlessdays-milano-2020-tickets-86101547045#tickets"><strong
            style="color: #19b1a3">reserve a ticket soon &raquo;</strong></a>
      </h3>
    </div>
    <div style="display: flex; flex: 0 1 30%; justify-content: center;">
      <img class="" src="./Mascotte/octo_mascot.svg" height="300" />
    </div>
  </div>
  -->

  <h3>Mattina</h3>

  <div class="row">
    <a href="#">
    <div class="coffee">
      <span>9:45</span>
      <strong>Benvenuto e introduzione</strong>
    </div>
    </a>

    <a href="/talk-simone-wardley.html">
    <div class="keynote">
      <span>9:50</span>
      <strong>Simon Wardley</strong>
      <span>What the fuss about serverless! [SUB ITA]</span>
    </div>
    </a>

    <a href="/talk-paolo-ferretti.html">
    <div class="talk">
      <span>10:35</span>
      <strong>Paolo Ferretti</strong>
      <span>Microservizi serverless estensibili, segmentabili e scalabili</span>
    </div>
    </a>

    <a href="/talk-max-gallo.html">
    <div class="talk">
      <span>11:20</span>
      <strong>Max Gallo</strong>
      <span>Micro-frontends on the edge: una storia di persone, migrazioni e serverless</span>
    </div>
    </a>

    <a href="#">
    <div class="talk lightning">
      <span>12:05 - 12:35</span>
      <strong>TBA</strong>
      <span>&nsbp;</span>
    </div>
    </a>
  </div>

  <h3>Pomeriggio</h3>

  <div class="row">
    <a href="/talk-tommaso-doninelli.html">
      <div class="talk">
        <span>13:05</span>
        <strong>Tommaso Doninelli</strong>
        <span>Come abbiamo migrato da “on-premise” a serverless senza cambiare una riga di codice</span>
      </div>
    </a>

    <a href="/talk-mariano-calandra.html">
    <div class="talk lightning">
      <span>13:50</span>
      <strong>Mariano Calandra</strong>
      <span>Possiamo ancora fidarci dei nostri unit test?</span>
    </div>
    </a>

    <a href="/talk-matteo-moroni.html">
    <div class="talk">
      <span>14:20</span>
      <strong>Matteo Moroni</strong>
      <span>Infrastruttura serverless auto-evolutiva con Python</span>
    </div>
    </a>

    <a href="/talk-ferdinando-gorga.html">
    <div class="talk lightning">
      <span>15:05</span>
      <strong>Ferdinando Gorga</strong>
      <span>Sui compensi del programmatore: una dissertazione sul valore del software ed il suo TCO (Total Cost of Ownership) di
      esercizio</span>
    </div>
    </a>

    <a href="/talk-luca-maraschi.html">
    <div class="talk">
      <span>15:35</span>
      <strong>Luca Maraschi</strong>
      <span>Serverless Side Rendering alla conquista del Web di scala planetaria</span>
    </div>
    </a>

    <a href="/talk-danilo-poccia.html">
    <div class="keynote">
      <span>16:20</span>
      <strong>Danilo Poccia</strong>
      <span>La gestione dei dati in un ambiente serverless</span>
    </div>
    </a>
  
    <a href="#">
    <div class="coffee">
      <span>17:00</span>
      <strong>Team</strong>
      <span>Chiusura e saluti</span>
    </div>
    </a>
  </div>
</div>
