
<!-- Button code -->
<div title="Aggiungi al Calendario" class="addeventatc">
  Aggiungi al Calendario
  <span class="start">06/04/2020 09:45 AM</span>
  <span class="end">06/04/2020 5:00 PM</span>
  <span class="timezone">Europe/Rome
  </span>
  <span class="title">ServerlessDays Italy</span>
  <span class="description">
ServerlessDays Italy 2020 in live streaming.

Saremo online su tutti i nostri social, seguiteci per gli ultimi aggiornamenti e per ricevere una notifica appena saremo
live:

Twitch: https://twitch.tv/ServerlessItaly
Twitter: https://twitter.com/ServerlessItaly
YouTube: https://www.youtube.com/channel/UCOJdchyUqN8THPGNe5G0oOQ
  </span>
  <span class="location">https://twitch.tv/ServerlessItaly</span>
</div>