
<!-- Button code -->

<p style="margin:0px 0px 10px 0px;text-align:left;font-size:17px;line-height:150%;color:#000;font-weight:bold;">📅 Aggiungi al Calendario</p>
<p style="margin:0px 0px 10px 0px;text-align:left;font-size:0px;"><a
    href="https://www.addevent.com/event/Cc4863989+apple" title="Apple" target="_blank"><img
      src="https://www.addevent.com/gfx/icon-emd-share-apple-t1.png" alt="" width="45" border="0"
      style="width:45px;" /></a><a href="https://www.addevent.com/event/Cc4863989+google" title="Google"
    target="_blank"><img src="https://www.addevent.com/gfx/icon-emd-share-google-t1.png" alt="" width="45" border="0"
      style="width:45px;" /></a><a href="https://www.addevent.com/event/Cc4863989+office365" title="Office 365"
    target="_blank"><img src="https://www.addevent.com/gfx/icon-emd-share-office365-t1.png" alt="" width="45" border="0"
      style="width:45px;" /></a><a href="https://www.addevent.com/event/Cc4863989+outlook" title="Outlook"
    target="_blank"><img src="https://www.addevent.com/gfx/icon-emd-share-outlook-t1.png" alt="" width="45" border="0"
      style="width:45px;" /></a><a href="https://www.addevent.com/event/Cc4863989+outlookcom" title="Outlook.com"
    target="_blank"><img src="https://www.addevent.com/gfx/icon-emd-share-outlookcom-t1.png" alt="" width="45"
      border="0" style="width:45px;" /></a><a href="https://www.addevent.com/event/Cc4863989+yahoo" title="Yahoo"
    target="_blank"><img src="https://www.addevent.com/gfx/icon-emd-share-yahoo-t1.png" alt="" width="45" border="0"
      style="width:45px;" /></a></p>