
<!-- Button code -->

<p><a title="Calendario" class="addeventstc" data-id="Kc265825" href="https://www.addevent.com/calendar/Kc265825"
    target="_blank" rel="nofollow" style="padding-left: 40px;">Aggiungi al calendario</a></p>

<a title="Add to Calendar" class="addeventstc" data-id="Kc265825" href="https://www.addevent.com/calendar/Kc265825"
  target="_blank" rel="nofollow">Add to Calendar</a>
<script type="text/javascript" src="https://addevent.com/libs/stc/1.0.2/stc.min.js" async defer></script>
