<div class="heroDate">
  <h1>Dates</h1>
  <ul>
    <li class="">
      <div class="checkmark">✔️</div>
      <div class="text">
        Jan 9th, 2020<br />
        <strong>Tickets go on Sale</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        Feb 15th, 2020<br />
        <strong>CFP Opens</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        Apr 30th, 2020<br />
        <strong>CFP Closes</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        May 15th, 2020<br />
        <strong>Speakers Announcement</strong>
      </div>
    </li>
    <li>
      <div class="checkmark"></div>
      <div class="text">
        June 4th, 2020<br />
        <strong>ServerlessDays Milano<br />Online</strong>
      </div>
    </li>
  </ul>
</div>
