<header>
  <div class="bg-white">
    <nav class="top-nav">

      <div class="logoContainer">

        <div class="logo">
          <a href="/" class="verticalCenter">
            <img src="logos/serverlessdays-milano.png" alt="ServerlessDays Italy" width="270" />
          </a>
        </div>

        <div class="dates bold">
          giovedì 4 giugno 2020<br />One Day,<br />One Track,<br />One Community
        </div>

      </div>

      <div class="menu bold">
        <a href="https://2019.milan.serverlessdays.io">2019</a>
        <a class="active no-mobile" href="/">Home</a>
        <a class="no-mobile" href="/#about">Cos'è</a>
        <a class="no-mobile" href="/#venue">Stream</a>
        <!--<a class="no-mobile" href="/#speakers">Speaker</a>-->
        <a class="highlight" href="/#agenda">Agenda</a>
        <!--<a class="" href="/#sponsors">Sponsors</a>
                <a class="no-mobile" href="/#coc">Code of Conduct</a>-->

        <a title="Calendario" class="addeventatc" data-id="Cc4863989" href="https://www.addevent.com/event/Cc4863989"
          target="_blank" rel="nofollow" style="padding-left: 40px;">Calendario</a>

        <!--<a class="highlight" href="/#tickets">Registrati</a>-->
      </div>

    </nav>
  </div>
</header>