<header>
  <div class="bg-white">
    <nav class="top-nav">

      <div class="logoContainer">

        <div class="logo">
          <a href="/" class="verticalCenter">
            <img src="logos/serverlessdays-milano.png" alt="ServerlessDays Italy" width="270" />
          </a>
        </div>

        <div class="dates bold">
          giovedì 4 giugno 2020<br />One Day,<br />One Track,<br />One Community
        </div>

      </div>

      <div class="menu bold">
        <a href="https://2019.milan.serverlessdays.io">2019</a>
        <a class="no-mobile" href="/#about">Cos'è</a>
        <a class="no-mobile" href="/#venue">Stream</a>
        <a class="highlight" href="/#agenda">Agenda</a>
        <a class="highlight external" href="https://twitch.tv/serverlessitaly" target="_blank">Live</a>

        <a title="Calendario" class="addeventstc" data-id="Kc265825" href="https://www.addevent.com/calendar/Kc265825"
          target="_blank" rel="nofollow" style="padding-left: 40px;">Calendario</a>
      </div>

    </nav>
  </div>
</header>