<div class="section sponsors">
  <h1>Sponsor</h1>
  <h3 style="font-weight: bold; font-size: 1.5em; margin: 20px 0 40px 0; color: #19b1a3;">
    <span>
      ServerlessDays Italy è un evento gratuito, no-profit organizzato dalla comunità Serverless.<br />
      Ringraziamo gli sponsor per il loro supporto!
    </span>
  </h3>

  <h2>Headline Sponsors ❤️</h2>
  <div class="list headline">
    <div>
      <a href="https://besharp.it" target="_blank">
        <img class="grow" src="logos/besharp.svg" title="beSharp" alt="beSharp" style="max-width: 300px">
      </a>
    </div>
    <div><a href="https://www.digitalattitude.com" target="_blank">
      <img class="grow" src="https://www.digitalattitude.com/resources/img/digital-attitude-red_logo.svg"
        title="Digital Attitude" alt="Digital Attitude" style="max-width: 300px"></a>
    </div>
  </div>

  <!--
  <h2>Media Partners</h2>
  <div class="list media mt4">
    <div class="squared">
      <a href="https://www.meetup.com/it-IT/Serverless-Italy/" target="_blank"><img class="grow" src="https://secure.meetupstatic.com/photos/event/d/1/2/9/600_451433545.jpeg" height="130" title="Serverless Italy Meetup"
          alt="Serverless Italy Meetup"></a>
    </div>
    <div class="squared">
      <a href="http://www.compvter.it" target="_blank"><img class="grow" src="logos/compvter.jpg" height="130" title="ComPVter"
          alt="ComPVter"></a>
    </div>
    <div class="squared">
      <a href="https://www.grusp.org" target="_blank"><img class="grow" src="logos/grusp.svg" height="70" title="GrUSP" alt="GrUSP"></a>
    </div>
    <div class="squared">
      <a href="https://cloudconf.it" target="_blank"><img class="grow" src="logos/cloudconf.png" title="CloudConf" alt="CloudConf"></a>
    </div>
  </div>
  -->

</div>
