<div class="section" style="border: 0;">

  <div class="left">
    <div class="title">
      <h1>Tickets</h1>
    </div>
    <div class="image"><img width="150" height="210" src="./Mascotte/unicorn_mascot.svg" /></div>
  </div>

  <div class="text">
    <p>Tickets will be available for free</p>

    <p>
      Can't see the Tickets frame below?
      <a href="https://www.eventbrite.it/e/serverlessdays-milano-2020-tickets-86101547045#tickets" target="_blank">Book a ticket here!</a>
    </p>
    
  </div>
</div>

<div class="ticketsFrame">
  <iframe src="https://eventbrite.com/tickets-external?eid=86101547045&ref=etckt" frameborder="0" height="800" width="100%"
    vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true" scrolling="no" onload="resizeIframe(this)"></iframe>
</div>
