<div class="section">

  <div class="left" style="flex-direction: column; align-items: flex-start;">
    <div class="title">
      <h1>Registrazione</h1>
    </div>

    <div class="text">
      <p>L'evento è completamente <strong>gratuito</strong>.<span class=" line-break no-mobile"></span>
        Ti suggeriamo di registrati per ricevere via email gli ultimi aggiornamenti e il link al live stream:</p>
    </div>

    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSf4rjn2a6ZzVavebHMUaq-A8s5a_XN6afAApdsfarDUpIhdjQ/viewform?embedded=true"
      width="800" height="920" frameborder="0" marginheight="0" marginwidth="0">Caricamento...</iframe>

    <p>
      Non vedi il form?
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSf4rjn2a6ZzVavebHMUaq-A8s5a_XN6afAApdsfarDUpIhdjQ/viewform"
        target="_blank">aprilo in una nuova finestra</a>.
    </p>
  </div>

</div>
</div>