<div class="section" style="border-top: 0;">

  <div class="left">
    <div class="title">
      <h1>Stream</h1>
    </div>
  </div>

  <div class="text venue" style="flex-basis: 45%">
    <p>
      L'edizione 2020 sarà trasmessa in <span style="font-weight: bold; color: #cc171a">live streaming</span>.
    </p>
    <p>
      Saremo online su tutti i nostri social, seguiteci per <span class="line-break no-mobile"></span>
      gli ultimi aggiornamenti e per ricevere<span class="line-break no-mobile"></span>
      una notifica appena saremo <span style="font-weight: bold;">live</span>:
    </p>
    <ul>
      <li><a href="https://twitch.tv/ServerlessItaly">Twitch.tv/ServerlessItaly</a></li>
      <li><a href="https://twitter.com/ServerlessItaly">Twitter.com/ServerlessItaly</a></li>
      <li><a href="https://www.youtube.com/channel/UCOJdchyUqN8THPGNe5G0oOQ">Canale YouTube</a></li>
    </ul>
  </div>
</div>