<div class="section" style="border-top: 0;">

  <div class="left">
    <div class="title">
      <h1>Stream</h1>
    </div>
  </div>

  <div class="text" style="flex-basis: 45%">
    <p>
      L'edizione 2020 sarà trasmessa in live streaming.<span class="line-break no-mobile"></span>
      Saremo online su tutti i nostri social,<span class="line-break no-mobile"></span>
      seguiteci per gli ultimi aggiornamenti e per ricevere<span class="line-break no-mobile"></span>
      una notifica appena saremo live:
    </p>
    <ul>
      <li><a href="https://twitch.tv/ServerlessItaly">Twitch.tv</a></li>
      <li><a href="https://www.youtube.com/channel/UCOJdchyUqN8THPGNe5G0oOQ">YouTube</a></li>
      <li><a href="https://twitter.com/ServerlessItaly">Twitter</a></li>
    </ul>
  </div>
</div>