<div class="section" style="border-top: 0;">
  <div class="left" style="flex-direction: column;">
    <div class="title">
      <h1>Stream</h1>
    </div>
    <div class="image"><img width="150" height="225" src="./Mascotte/unicorn_mascot.svg" /></div>
  </div>

  <div class="text venue" style="flex-basis: 45%">
    <p>
      L'edizione 2020 sarà trasmessa in <span style="font-weight: bold; color: #cc171a">live streaming</span>.
    </p>
    <p>
      Saremo online su tutti i nostri social, <span style="font-weight: bold; color: #cc171a">seguiteci</span> per <span
        class="line-break no-mobile"></span>
      gli ultimi aggiornamenti e per ricevere una notifica appena saremo <span style="font-weight: bold;">live</span>:
    </p>
    <ul>
      <li>Twitch.tv: <a href="https://twitch.tv/ServerlessItaly">ServerlessItaly</a></li>
      <li>Twitter: <a href="https://twitter.com/ServerlessItaly">@ServerlessItaly</a></li>
      <li><a href="https://www.youtube.com/channel/UCOJdchyUqN8THPGNe5G0oOQ">Canale YouTube</a></li>
    </ul>

    @@include('./_calendarButton.html')

    <!--<p style="max-width: 50%;"><a class="button"
      style="display: flex; flex: 0 0 250px; text-align: center; align-self: center; justify-content: center;"
      href="/serverlessdays-italy.ics">📆 Aggiungi al calendario</a></p>-->
  </div>
</div>